asn1crypto==0.24.0
aws==0.2.5
bcrypt==3.1.4
boto==2.48.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
Cookie==0.1.0
cryptography==2.1.4
decorator==4.3.0
Fabric==1.14.0
feedparser==5.2.1
Flask==0.12.2
idna==2.6
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.11.3
joblib==0.11
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.0
mysql-connector-python-dd==2.0.2
nbformat==4.4.0
numpy==1.13.3
pandas==0.20.3
paramiko==2.4.0
plotly==2.5.1
prettytable==0.7.2
pyasn1==0.4.2
pycparser==2.18
PyMySQL==0.8.0
PyNaCl==1.2.1
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.7
sudoku-maker==1.0.12
traitlets==4.3.2
urllib3==1.22
Werkzeug==0.14.1
wget==3.2
